<!-- interpolaion -->

<!-- <h1>hello world,{{title}}</h1> -->
<!-- <h2>{{sayhello()}}</h2> -->
<!--
<div class="cotainer-fluid ps-0">
<section class="row">
  <app-sidebar class="col-2"></app-sidebar> -->
<!-- <app-home class="col-10"></app-home> -->
<!-- <app-productlist class="col-10"></app-productlist> //component directives -->
<!-- <app-order-master class="col-10"></app-order-master> -->
<app-header></app-header>
<div class="col-12">

<router-outlet></router-outlet>
</div>
<!-- </section> -->

<!-- </div>
<app-footer></app-footer> -->
